body {
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}