body {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}