.customer-card {
    overflow: hidden;
    display: flex;
    transition: transform 0.5s;
    width: 344px;
    height: 456px;

&__image {
    z-index: -1;
    border-radius: 24px;
    position: relative;
    width: 100%;
    height: 100%;
}

&__info {
    position: absolute;
    border-radius: 0px 0px 24px 24px;
    padding: 16px 38px 100px 38px;
    background-color: var(--color-brand-grey);
    transform: translate(0px, 324px);
}

&__title {
    position: absolute;
    transform: translate(0px, -8px);
    z-index: 2;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: white;
    margin: 0;
}

&__text {
    position: absolute;
    z-index: 2;
    transform: translate(0px, 12px);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

&__bones {
    display: flex;
    gap: 8px;
    transform: translate(0px, 80px);
}

&__bones-bone {
    z-index: 2;
    fill: var(--color-brand);
}

&__ocenka {
    margin: 0 0 0 44px;
    color: var(--color-brand);
    font-size: 16px;
}
&__bones-bone-white {
    z-index: 2;
    fill: white;
}
}