.form-terms {
    max-width: 220px;
    line-height: 1.5;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    padding-top: 18px;
}

.form-terms__link {
    color: var(--color-brand-grey);
    text-underline-offset: 2px;
}