.category-section {
    padding-top: 42px;
    margin: 24px 0 0 0;

@media screen and (min-width: $bp-tablet) {
    padding-top: 32px;
}

&__conteiner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
}

&__catigory-title {
    text-align: center;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    justify-content: center;
    font-size: 36px;

@media screen and (min-width: $bp-tablet) {
    font-size: 56px;
}
}

&__list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0;
    padding: 0;
}

&__card {
    display: flex;
    padding: 48px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

&__mobile {
    display: none;

@media screen and (min-width: $bp-desktop) {
    display: flex;
}
}
&__item {
    list-style: none;
    width: 280px;
    height: 280px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fff 0%, #fffbf4 100%);
    box-shadow: 0px 4px 4px 0px rgba(24, 24, 23, 0.05);
    cursor: pointer;

@media screen and (min-width: $bp-desktop) {
    width: 240px;
    height: 240px;
}
}

&__button {
    position: relative;
}

&__bnt {
    color: var(--color-brand);
    text-decoration: none;
    letter-spacing: 0.9px;
    line-height: 1.3;
    font-size: 18px;
    position: absolute;
    transform: translate(-240px, 10px);
    white-space: nowrap;

@media screen and (min-width: $bp-desktop) {
    position: relative;
    transform: translate(-220px, 10px);
    white-space: nowrap;
}
}

&__bnt::after {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 16px;
    background-image: url(../images/arrow1.png);
    content: "";
    transform: translate(20%, 25%);
}

&__link {
    text-decoration: none;
    font-size: 22px;
    color: var(--color-brand);
}
}
