.contact-section {
    position: relative;
    padding-top: 168px;
}

.contact-section__background::before {
    content: "";
    background-image: url(../images/contactdog-befor.png);
    background-repeat: no-repeat;
    width: 488px;
    height: 520px;
    position: absolute;
    transform: translate(0px, 160px);
    z-index: -1;
}

.contact-section__background::after {
    content: "";
    background-image: url(../images/contactdog-after.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 322px;
    height: 752px;
    right: 0;
    top: 60px;
    z-index: -1;
}

.contact-section__background {
    position: relative;
}

.contact-section__bone {
    position: absolute;
    z-index: -2;
    width: 100%;
    box-sizing: border-box;
}

.contact-section__title {
    padding-top: 20px;
    text-align: center;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    justify-content: center;
    font-size: 56px;
}

.contact-section__container {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input__control {
    width: 592px;
    height: 40px;
    border: 1px solid orange;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    padding: 4px;
    color: var(--color-brand);
    border-radius: 8px;
}

.input__control::placeholder {
    color: var(--color-brand);
}

.input__control:focus {
    outline: none;
    border-color: var(--color-brand);
}

.contact-section__form-field {
    padding-bottom: 24px;
}