.customer-section {
    padding-top: 96px;
    display: flex;

&__title {
    padding-top: 0px;
    text-align: center;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    justify-content: center;
    font-size: 36px;

@media screen and (min-width: $bp-tablet) {
    font-size: 56px;
    padding-top: 20px;
}
}

&__slider {
    display: block;
    align-items: center;
    justify-content: center;

@media screen and (min-width: $bp-tablet) {
    display: flex;
}
}

&__container {
    margin: 0;
    width: 100%;
    overflow: hidden;
}

&__swiper-list {
    gap: 5px;
}

&__list {
    text-decoration: none;
    list-style: none;
    margin-left: 38px;

@media screen and (min-width: $bp-tablet) {
    margin: 0;
}
}

&__button {
    margin-right: 24px;
}
}
