.footer-section {
    background-color: #fffaf3;
    margin-top: 168px;

&__container {
    position: relative;
    padding-top: 32px;
    margin-top: 60px;
    display: block;
    height: 260px;

@media screen and (min-width: $bp-tablet) {
    display: flex;
    justify-content: space-around;
}
}

&__logo {
    display: flex;
    justify-content: center;

@media screen and (min-width: $bp-tablet) {
    display: block;
}
}
&__social-list {
    display: flex;
    justify-content: center;

@media screen and (min-width: $bp-tablet) {
    justify-content: flex-start;
}
    
}

&__menu {
    padding: 0;
    text-align: center;

@media screen and (min-width: $bp-tablet) {
    text-align: start;
}
}

&__social {
    display: none;
    border: none;
    fill: var(--color-brand-light);
    background-color: transparent;
    padding-top: 28px;

@media screen and (min-width: $bp-tablet) {
    display: flex;
}
}

&__social-mobile {
    display: flex;
    border: none;
    fill: var(--color-brand-light);
    background-color: transparent;
    padding: 24px;

@media screen and (min-width: $bp-tablet) {
        display: none;
    }
}

&__container::after {
    position: absolute;
    content: "";
    background-image: url(../images/footer-dog.png);
    width: 292px;
    height: 304px;
    background-size: 50%;
    background-repeat: no-repeat;
    transform: translate(140px, -694px);
    

@media screen and (min-width: $bp-tablet) {
    position: relative;
    background-size: 100%;
    transform: translate(0px, 0px);
}
}
}

.footer__input {
    width: 320px;
    height: 40px;
    border: 1px solid orange;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    padding: 4px;
    color: var(--color-brand);
    border-radius: 8px;

    &::placeholder {
        color: var(--color-brand);
        }
    
    &:focus {
        outline: none;
        border-color: var(--color-brand);
        }
}

