.footer-section {
    background-color: #fffaf3;
    margin-top: 90px;
}

.footer-section__container {
    padding-top: 32px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    /* background-color: #fffaf3; */
    height: 260px;
}

.footer-section__container::after {
    content: "";
    background-image: url(../images/footer-dog.png);
    width: 292px;
    height: 304px;
}

.footer-section__social {
    border: none;
    fill: var(--color-brand-light);
    background-color: transparent;
    padding-top: 28px;
}

.footer-menu {
    padding: 0;
}

.footer-menu__list {
    list-style: none;
}

.footer-menu__link {
    font-family: "Roboto", sans-serif;
    color: black;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    line-height: 2;
}

.footer-menu__link:hover {
    color: var(--color-brand);
    font-weight: 700;
}

.footer__input {
    width: 320px;
    height: 40px;
    border: 1px solid orange;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    padding: 4px;
    color: var(--color-brand);
    border-radius: 8px;
}

.footer__input::placeholder {
    color: var(--color-brand);
}

.footer__input:focus {
    outline: none;
    border-color: var(--color-brand);
}