.hero-section {
    position: relative;
    background-image: url(../images/hero-bone-mobile.jpg);
    background-size: contain;
    height: 380px;
    background-repeat: no-repeat;
    background-position: top center;

    @media screen and (min-width: $bp-tablet) {
    height: 808px;
    background-image: url(../images/hero-bone.jpg);
    }

&__container {
    display: block;
    justify-content: center;
    gap: 80px;
    @media screen and (min-width: $bp-desktop) {
        display: flex;
    }
    }

&__title {
    font-family: "Rowdies", sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-top: 180px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
            font-size: 72px;
        }
}

&__title-opis {
    font-size: 16px;
    font-weight: 400;
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 14px auto;

    @media screen and (min-width: $bp-desktop) {
    font-size: 22px;
    text-align: start;
    }
}

&__explorer-button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-brand);
    font-size: 18px;
    color: #ffffff;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;

    @media screen and (min-width: $bp-desktop) {
        display: block;
    }
}
&__explorer-button:hover {
    background-color: var(--color-brand-grey);
    color: #fffaf3;
}
&__dog-photo {
    display: none;
    margin-top: 210px;
    background-repeat: no-repeat;

    @media screen and (min-width: $bp-desktop) {
            display: block;
        }
}
}

.small-dog {
    // display: none;
    position: relative;

&__dog {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
@media screen and (min-width: $bp-tablet){
    height: 48px;
    width: 48px;
}        
}

&__tax-dog {
transform: translate(160px, 18px);
@media screen and (min-width: $bp-tablet) {
    top: -580px;
    left: -60px;
}

}

&__bw-gog {
    transform: translate(52px, -38px);

@media screen and (min-width: $bp-tablet){
    bottom: 180px;
    left: -180px;
}
}

&__w-dog {
    transform: translate(276px, -38px);
@media screen and (min-width: $bp-tablet) {
    right: 320px;
    bottom: 420px;
}
}

&__orange-lap {
    width: 24px;
    height: 24px;
    position: absolute;
    fill: var(--color-brand-light);
    transform: translate(60px, 8px);

@media screen and (min-width: $bp-tablet) {
    width: 42px;
    height: 42px;
    left: -120px;
    bottom: 60px;
    animation: moveDown 2s infinite alternate;
    }
}

&__red-lap {
    width: 24px;
    height: 24px;
    position: absolute;
    fill: #ff6e9f;
    transform: translate(248px, 14px);
    

@media screen and (min-width: $bp-tablet) {
    width: 42px;
    height: 42px;
    animation: moveRight 2s infinite alternate;
    right: -80px;
    bottom: 290px;

}
}

&__sir-lap {
    position: absolute;
    width: 24px;
    height: 24px;
    fill: #d9a6ff;
    transform: translate(318px, -142px);

@media screen and (min-width: $bp-tablet) {
    width: 42px;
    height: 42px;
    bottom: 440px;
    left: -30px;
    animation: moveRight 2s infinite alternate;
}
}
}