.nutrition-page {
    display: flex;
    justify-content: space-between;

&__title {
    color: var(--color-brand);
    font-size: 34px;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    padding-top: 24px;

@media screen and (min-width: $bp-tablet) {
    font-size: 56px;
}
}

&__popular-filter {
    display: flex;
    align-items: center;

@media screen and (min-width: $bp-tablet) {
        display: none;
    }
}
&__popular {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-left: 18px;
}

&__popular-arrows {
 fill: var(--color-brand);
margin: -2px;
}

&__sorting {
    display: none;
    align-items: center;

@media screen and (min-width: $bp-tablet) {
    display: flex;
}
}

&__sorting-name {
    color: var(--color-brand);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding-right: 18px;
}

&__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 40px;

@media screen and (min-width: $bp-tablet) {
    gap: 0px;
}
}

&__item {
    flex-basis: calc((100% - 96px) / 5);
    padding: 20px;
}

&__info {
    display: flex;
}
}