.nutrition-page {
    display: flex;
    justify-content: space-between;

&__title {
    color: var(--color-brand);
    font-size: 34px;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    padding-top: 24px;

@media screen and (min-width: $bp-tablet) {
    font-size: 56px;
}
}

&__popular-filter {
    display: flex;
    align-items: center;

@media screen and (min-width: $bp-tablet) {
        display: none;
    }
}

&__mobile-sorting {
    display: flex;
    align-items: center;
}

&__popular-arrows {
 fill: var(--color-brand);
margin: -2px;
}

&__popular {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-left: 12px;
}

&__sort-title {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 24px;
    color: var(--color-brand);
    margin-right: 38px;
}

&__sort-item {
    color: black;
}
&__sort-item:hover {
    color: var(--color-brand);
}

&__popular-bnt {
    padding: 2px;
    border: none;
    background-color: transparent;
}

&__sorting {
    display: none;
    align-items: center;

@media screen and (min-width: $bp-tablet) {
    display: flex;
}
}

&__sorting-name {
    color: var(--color-brand);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding-right: 18px;
}

&__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;

@media screen and (min-width: $bp-tablet) {
    gap: 0px;
}
}

&__item {
    flex-basis: calc((100% - 96px) / 5);
    padding: 10px;

@media screen and (min-width: $bp-tablet) {
    padding: 20px;
}
}

&__info {
    display: flex;
}
}